# Frontend Client URL
FRONTEND_URL=http://localhost:5173

# Email / Nodemailer Configuration (e.g., Gmail App Password)
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password

# Database Connection (PostgreSQL / Supabase)
DATABASE_URL=postgresql://username:password@localhost:5432/dbname

# Better Auth Configuration
BETTER_AUTH_SECRET=your_better_auth_secret_key
BETTER_AUTH_URL=http://localhost:3001

# Authentication & Token Secrets
AUTH_REFRESH_TOKEN=your_refresh_token_here
AUTH_USER_ID=your_auth_user_id_here
ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_here

VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=